html {
	text-align: center;
	font-family: Helvetica;
	display: block;
}
h1 {
	font-size: 70px;
	font-weight: bold;
	color : White;
}
h2 {
	font-size: 32px;
	font-weight: bold;
	color: Gray;
}
h3 {
	font-size: 23px;
	font-weight: bold;
	color: Gray;
}
p {
	font-size: 14px;
	color: Gray;
}
a {
	font-size: 18px;
	color: White;
}
.home {
	background-image: url("../images/the-flatiron-building.png");
}
.work {
	background-image: url("../images/the-flatiron-building.png");
}
.about {
	color: Gray;
	text-align: left;
}
.work h3 {
	color: White;
}
.about p {
	font-size: 11px;
	color: White;
	background-color: dimgray;
}